# Ignore virtual environment directory
/venv

# Ignore the SQLite database file
goals.db

# Ignore any editor/IDE specific files
.vscode/

# Ignore Python bytecode files
__pycache__/

# Ignore Python-specific files
*.pyc
*.pyo

# Ignore log files
*.log